.btn-group {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;

  @media (min-width: 640px) {
    flex-direction: row;
  }
}

.btn-primary {
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: background-color 0.3s ease;
  align-items: center;
  justify-content: center;
  background-color: var(--button-color);
  color: var(--background);
  gap: 0.5rem;
  cursor: pointer;
  height: 2rem;

  &:hover {
    background-color: var(--button-hover);
  }
}

.btn-secondary {
  border-radius: 2rem;
  border: 1px solid var(--border-color);
  transition: background-color 0.2s, border-color 0.2s;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  height: 2rem;

  &:hover {
    background-color: var(--button-hover);
  }
}
.icon {
  border-radius: 50%;
  &:hover {
    background-color: var(--hover-bg); 
  }
}