.btn-primary {
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: background-color 0.3s ease;
  align-items: center;
  justify-content: center;
  background-color: var(--button-color);
  color: var(--background);
  gap: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: var(--button-hover);
  }
}

.btn-secondary {
  border-radius: 2rem;
  border: 1px solid var(--border-color);
  transition: background-color 0.2s, border-color 0.2s;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: var(--button-hover);
  }
}

.btn-group {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.icon {
  border-radius: 50%;
  &:hover {
    background-color: var(--hover-bg); 
  }
}

.carousel-container {
  padding-left: 24px;
}

.carousel-visual {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  aspect-ratio: 357 / 390;
}
