.chat-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 0.5rem;
}
.chat-footer {
  /* display: flex; */
  justify-content: space-between;
  text-align: end;
  padding: 0.5rem;
}

.btn-aside {
  cursor: pointer;
  font-size: x-large;
  border-radius: 2rem;
  background-color: var(--background);

  &:hover {
    background-color: var(--button-hover);
  }
}

  .rooms {
    cursor: pointer;
    border-radius: 0.7rem;
    transition: all 0.2s ease;
    display: flex;

    /* &.active {
      background-color: var(--active-bg);
      border: 1px solid var(--active-border);
    } */

    .avatar{
      object-fit: cover;
      cursor: pointer;
      background-color: var(--profile-color);
      color: var(--text-color);
    }
    
  }

  @media (min-width: 768px) {
  .chat-page > div:first-child {
    width: var(--aside-width);
  }
}