.chat-list {
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);
  flex-shrink: 0;
  padding-block: 1rem;
  overflow-y: auto;

  .new-room-btn {
    align-self: flex-end;
    margin-inline: 0.9rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    font-size: x-large;

    &:hover {
      background-color: var(--button-hover);
    }
  }

  .room {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.7rem;
    transition: all 0.2s ease;
    position: static;
    display: flex;
    align-items: center;

    &:hover {
      background-color: var(--hover-bg);
    }

    &.active {
      background-color: var(--active-bg);
      border: 1px solid var(--active-border);
    }

    .room-img{
      flex: 0 0 20%;
      cursor: pointer;
      border: 1px solid var(--border-color);
      border-radius: 50%;
      color: var(--text-color);   
      background-color: transparent;
      width: 2.8rem;
      height: 2.8rem;
      object-fit: contain;
    }

    .room-name {
      flex: 0 0 20%;
      font-size: 1rem;
      padding-inline: 1rem;
    }
  
    .room-msg {
      flex: 1;
      font-size: 0.8rem;
      color: var(--text-color);
      padding-inline: 1rem;
    }
    
  }
}

.user-list {
  display: flex;
  position: grid;
  border-radius: 50%;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
  font-size: 1rem;
  place-items: center;

  .bubble {
    background-color: var(--bubble-color);
    border-radius: 2rem;
    padding-inline: 1vh;
    height: 1.8rem;
    cursor: pointer;
    color: var(--bubble-text);
    display: flex;
    align-items: center;
    font-weight: 400;

    &:hover {
      background-color: var(--bubble-hover);
      color: var(--bubble-hover-text);
    }
  }
}