.messages {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: calc(var(--screen-height) - 5vh);
  padding: 1rem;

  .message-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    &.me {
      align-items: flex-end;
    }

    &.you {
      align-items: flex-start;
    }

    .user-wrapper {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 0.5rem;

      &.me {
        flex-direction: row-reverse;
      }

      &.you {
        flex-direction: row;
      }
      
      .avatar {
        object-fit: cover;
        cursor: pointer;
        background-color: var(--profile-color);

        &:hover {
          background-color: var(--button-hover);
        }
      }

    }

    .bubble-wrapper {
      display: flex;
      align-items: flex-end;
      gap: 0.2rem;

      &.me {
        flex-direction: row-reverse;
      }

      &.you {
        flex-direction: row;
      }
    }

    .chat-bubble {
      position: relative;
      padding: 0.5rem;
      border-radius: 1.5rem;
      word-break: break-word;
      background-color: var(--hover-bg);

      &.me {
        background-color: var(--bubble-color);
        color: var(--bubble-text);

        &::after {
          content: '';
          position: absolute;
          right: -8px;
          border-width: 2px 0 8px 12px;
          border-style: solid;
          border-color: transparent transparent transparent var(--bubble-color);
        }
      }

      &.you {
        &::after {
          content: '';
          position: absolute;
          left: -8px;
          border-width: 2px 12px 8px 0;
          border-style: solid;
          border-color: transparent var(--hover-bg) transparent transparent;
        }
      }
    }
  }
}

.text-area {
  position: static;
  bottom: 1rem;
  left: 0;
  right: 0;
  padding: 0 0 3rem;
  height: 3vh;

  .input-wrapper {
    display: flex;
    gap: 0.5rem;
  }

  .input {
    flex: 1;
    border: solid var(--border-color);
    border-radius: 2rem;
    padding: 0.4rem;
  }
}

.chat-page {
  display: flex;
  flex: 1;
  transition: all 0.3s;

  .chat-block {
    flex: 1;
    overflow-y: auto;
    position: relative;
    transition: all 0.3s;
  }

  .chat-block.shifted {
    margin-left: var(--aside-width);
  }
}
