@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffefe;
  --foreground: #000000;
  --border-color: #ddd;
  --text-color: #a2a2a2;
  --error-text: #ff4d4f;
  --hover-bg: #eee;
  --active-bg: #199bff;
  --button-color: #333;
  --button-hover: #B2B2B2;
  --bubble-color: #c0d7fc;
  --bubble-hover: hsl(216, 91%, 61%);
  --bubble-text: black;
  --bubble-hover-text: white;
  --header-height: 88px;
  --footer-height: 48px;
  --chat-header-height: 72px;
  --screen-height: 745px;
  /* --screen-height: calc(100vh - var(--header-height) - var(--footer-height)); */
  --aside-width: 257px;
  --profile-color: var(--background);
  --chat-background: #ffffff;
  --aside-background: #fafafa;
  --loader: #336bdd;
}

.dark {
    --background: #000000;
    --foreground: #ffffff;
    --border-color: #333;
    --text-color: #7e7e7e;
    --hover-bg: #333;
    --active-bg: #c0d7fc;
    --button-color: var(--foreground);
    --button-hover: var(--hover-bg);
    --bubble-color: #c0d7fc;
    --bubble-hover: var(--hover-bg);
    --profile-color: var(--foreground);
    --chat-background: #111111;
    --aside-background: #000000;

}
