@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f7f7;
  --foreground: #333;
  --border-color: #ddd;
  --aside-color: #ddd;
  --error-text: #ff4d4f;
  --hover-bg: #eee;
  --active-bg: #199bff;
  --button-color: #333;
  --button-hover: #eee;
  --bubble-color: #c0d7fc;
  --bubble-hover: #428af6;
  --bubble-text: black;
  --bubble-hover-text: white;
  --header-height: 180px;
  --screen-height: calc(100vh - var(--header-height));
  --sidebar-width: 258px;
}

.dark {
    --background: #1e1e1e;
    --foreground: #ffffff;
    --border-color: #333;
    --hover-bg: #333;
    --active-bg: #c0d7fc;
    --button-color: var(--foreground);
    --button-hover: var(--hover-bg);
    --bubble-color: #c0d7fc;
    --bubble-hover: var(--hover-bg);
    --aside-color: #333;
}
