@import "./global";

.chat-list {
  display: flex;
  flex-direction: column;
  width: 230px;
  flex-shrink: 0;
  background-color: var(--background);
  border-right: 1px solid var(--border-color);
  padding-block: 1rem;
  overflow-y: auto;

  .new-room-btn {
    align-self: flex-end;
    margin-inline: 0.9rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    cursor: pointer;

    &:hover {
      background-color: var(--button-hover);
    }
  }

  .room {
    cursor: pointer;
    padding: 0.7rem;
    border-radius: 0.7rem;
    transition: all 0.2s ease;
    position: static;

    &:hover {
      background-color: var(--hover-bg);
    }

    &.active {
      background-color: var(--active-bg);
      border: 1px solid var(--active-border);
    }
  }

}