@import "./global";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: var(--background);
  border-radius: 2rem;
  }
  
  .header-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .header-right {
    display: flex;
    align-items: center;
    gap: 1rem;

    .header-icon{
      cursor: pointer;
      border-radius: 50%;
      color: var(--text-color);   
      padding: 0%;
      background-color: transparent;
      font-size: x-large;

      &:hover {
        background-color: var(--button-hover);
      }
    }
  }
  
  .user-image {
    cursor: pointer;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    &:hover {
      background-color: var(--button-hover);
    }
  }